html {
  width: 100%;
  height: 100%; }

  body {
    width: 100%;
    height: 100%;
    font-family: "open_sanslight", sans-serif; }

    .centered {
      text-align: center; }

      .light {
        color: gainsboro; }

        .dark {
          color: #464646; }

          .med {
            color: #969696; }

            .wide {
              width: 100%;
              padding: 0;
              margin: 0; }

              .no-padding-margin {
                padding: 0;
                margin: 0; }

                .custom-navbar {
                  border-radius: 0;
                  background-color: #464646; }
                  .custom-navbar .collapse.navbar-collapse .nav.navbar-nav li.custom-active {
                    background-color: orange; }
                    .custom-navbar .collapse.navbar-collapse .nav.navbar-nav li a {
                      color: white; }
                      .custom-navbar .collapse.navbar-collapse .nav.navbar-nav li a:hover {
                        color: black; }
                  .custom-navbar .navbar-header a {
                    color: white; }
                    .custom-navbar .navbar-header a:hover {
                      color: black; }

.banner-1 {
  background: -moz-linear-gradient(left, transparent 5%, rgba(0, 0, 0, 0.7) 100%),
    url('../static/images/camera2.jpg');
  background: -webkit-linear-gradient(left, transparent 5%, rgba(0, 0, 0, 0.7) 100%),
    url('../static/images/camera2.jpg');
  background: -o-linear-gradient(left, transparent 5%, rgba(0, 0, 0, 0.7) 100%),
    url('../static/images/camera2.jpg');
  background: -ms-linear-gradient(left, transparent 5%, rgba(0, 0, 0, 0.7) 100%),
    url('../static/images/camera2.jpg');
  background: linear-gradient(to left, transparent 5%, rgba(0, 0, 0, 0.7)),
    url('../static/images/camera2.jpg');
  background-attachment: fixed, fixed; }
  .banner-1 .page-title {
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 50px; }
    .banner-1 .page-title h1 {
      font-family: "open_sansbold", sans-serif;
      color: gainsboro; }

.banner-2 {
  background-color: white;
  padding-bottom: 20px; }
  .banner-2 .info-img {
    background-color: #969696;
    padding-bottom: 200px; }

.banner-3 {
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.85) 0%),
    url('../static/images/camera3.jpg');
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.7) 0%),
    url('../static/images/camera3.jpg');
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.85) 0%),
    url('../static/images/camera3.jpg');
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.85) 0%),
    url('../static/images/camera3.jpg');
  background: linear-gradient(to left, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85) 0%),
    url('../static/images/camera3.jpg');
  background-attachment: fixed, fixed;
  padding-bottom: 50px; }
  .banner-3 .thumbnail-container {
    background-color: #282828; }
    .banner-3 .gallery {
      background-color: #464646;
      padding-bottom: 15px;
      padding-top: 15px; }

.footer-1 {
  background-color: #464646;
  padding-top: 20px;
  padding-bottom: 20px; }

  .footer-2 {
    background-color: #464646;
    padding-bottom: 10px; }
    .footer-2 .col-md-4 {
      border-top: 3px solid #969696;
      padding-top: 10px; }

.b {
  border: 1px solid blue; }

  .thumbnail-box {
    padding: 0;
    border: 1px solid #282828; }
    .thumbnail-box img {
      height: 100%;
      width: 100%; }
