<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" ng-app="sue-philbin-photoart">
    <head>
        <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
        <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <title>Sue Philbin Photoart</title>
        <link rel="stylesheet" href="static/fonts/Open-Sans/stylesheet.css"/>
        <link rel="stylesheet" href="lib/bootstrap-3.2.0/css/bootstrap.css"/>
        <link rel="stylesheet" href="style.css"/>
        <script src="lib/jquery/jquery-2.1.1.min.js"></script>
        <script src="lib/bootstrap-3.2.0/js/bootstrap.js" type="text/javascript"></script>
        <script src="lib/angular_js/angular.min.js" type="text/javascript"></script>
        <script src="js/app.js" type="text/javascript"></script>
    </head>

    <body>
        <div class="container wide banner-1">
            <div class="row wide">
                <div class="col-md-4">
                    <div class="page-title">
                        <h1>Sue Philbin Photoart</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="container wide banner-2" ng-controller="InfoController as info" ng-init="info.currentInfo='aboutSue'">
            <div class="row wide">
                <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12">
                    <nav class="navbar navbar-default custom-navbar" role="navigation">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li ng-class="{ 'custom-active': info.isSelected('aboutSue') }">
                                    <a href ng-click="info.selectInfo('aboutSue')">
                                        About Sue
                                    </a>
                                </li>
                                <li ng-class="{ 'custom-active': info.isSelected('littleBooks') }">
                                    <a href ng-click="info.selectInfo('littleBooks')">
                                        Little Books
                                    </a>
                                </li>
                                <li ng-class="{ 'custom-active': info.isSelected('calenders') }">
                                    <a href ng-click="info.selectInfo('calenders')">
                                        Calenders
                                    </a>
                                </li>
                                <li ng-class="{ 'custom-active': info.isSelected('weddings') }">
                                    <a href ng-click="info.selectInfo('weddings')">
                                        Weddings
                                    </a>
                                </li>
                                <li ng-class="{ 'custom-active': info.isSelected('contact') }">
                                    <a href ng-click="info.selectInfo('contact')">
                                        Contact
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="row wide">

                <!-- INFO BLOCK 1 -->
                <div class="col-md-4 col-md-offset-3" ng-show="info.isSelected('aboutSue')">
                    <p>
                        Sue is a photographer living and working in New Zealand. She lives with her family in the Waikato region, located in the Central North Island. She specialises in capturing images that depict the beauty of the various environments in which we live.
                    </p>
                    <p>
                        Sue’s card and calendar collections have been designed to appeal to the people who live and work in the Waikato as well as visitors passing through. Although her style suits any environment and she is always eager to explore new areas and new opportunities.
                    </p>
                    <p>
                        All of her images can be made into cards, calendars or art-prints. Please contact her for further information.
                    <p>
                </div>
                <div class="col-md-2 info-img" ng-show="info.isSelected('aboutSue')">
                </div>

                <!-- INFO BLOCK 2 -->
                <div class="col-md-4 col-md-offset-3" ng-show="info.isSelected('littleBooks')">
                    <p>
                        Sue has created a number of 'little books' each designed to showcase a specific region or area in New Zealand. Sue's little books are beautifully constructed and comprise of images specially selected by Sue to best depict the heart, soul and individuality of the book's region of focus.
                    <p>
                </div>
                <div class="col-md-2 info-img" ng-show="info.isSelected('littleBooks')">
                </div>

                <!-- INFO BLOCK 3 -->

                <!-- INFO BLOCK 4 -->

                <!-- INFO BLOCK 5 -->
            </div>
        </div>

        <div class="container wide banner-3">
            <div class="row wide">
                <div class="col-xs-12">
                    <h1 class="light centered">
                        Gallery
                    </h1>
                </div>
            </div>
            <div class="row wide">
                <div class="col-lg-2 col-lg-offset-3 col-md-3 col-md-offset-2 col-sm-4 col-sm-offset-1 thumbnail-container">
                    <div class="row">
                        <div class="col-sm-6 thumbnail-box">
                            <a href>
                                <img class="img-responsive" src="static/images/bird2.jpg"></img>
                            </a>
                        </div>
                        <div class="col-sm-6 thumbnail-box">
                            <a href>
                                <img class="img-responsive" src="static/images/bird.jpg"></img>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 thumbnail-box">
                            <a href>
                                <img class="img-responsive" src="static/images/mountains1.jpg"></img>
                            </a>
                        </div>
                        <div class="col-sm-6 thumbnail-box">
                            <a href>
                                <img class="img-responsive" src="static/images/mist1.jpg"></img>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 thumbnail-box">
                            <a href>
                                <img class="img-responsive" src="static/images/mountains2.jpg"></img>
                            </a>
                        </div>
                        <div class="col-sm-6 thumbnail-box">
                            <a href>
                                <img class="img-responsive" src="static/images/poppies.jpg"></img>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 thumbnail-box">
                            <a href>
                                <img class="img-responsive" src="static/images/pylons1.jpg"></img>
                            </a>
                        </div>
                        <div class="col-sm-6 thumbnail-box">
                            <a href>
                                <img class="img-responsive" src="static/images/sea1.jpg"></img>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 thumbnail-box">
                            <a href>
                                <img class="img-responsive" src="static/images/red_flower.jpg"></img>
                            </a>
                        </div>
                        <div class="col-sm-6 thumbnail-box">
                            <a href>
                                <img class="img-responsive" src="static/images/pylons2.jpg"></img>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 hidden-xs gallery">
                    <img class="img-responsive" src="static/images/bird2.jpg"></img>
                </div>
            </div>
        </div>

        <div class="container wide footer-1">
            <div class="row">
                 <div class="col-md-4 col-md-offset-4 centered">
                    <h4 class="light">
                        Contact
                    </h4>
                    <p class="light">
                        9 Blue Heron Place, <br>
                        Hamilton, RD3 <br>
                        Email: suephilbin@email.com
                    </p>
                    <span class="glyphicon glyphicon-earphone light"> (44)220847971</span> <br>
                </div>
            </div>
        </div>

        <div class="container wide footer-2">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 centered">
                    <p class="light">
                        Copyright <span class="glyphicon glyphicon-copyright-mark"></span> Sue Philbin Photoart 2014
                    </p>
                    <p class="light">
                        Designed by Peter Mills
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>